<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.github.url }}/about">About us</a></li>
            <li><a href="{{ site.github.url }}/menus">Menus</a></li>
            <li><a href="{{ site.github.url }}/testimonials">Testimonials</a></li>
            <li><a href="{{ site.github.url }}/special-events">Special Events</a></li>
            <li><a href="{{ site.github.url }}/contact">Contact</a></li>
          </ul>
        </div>
        <p>Powered by <a href="http://www.ariesdesign.co/"><img src="{{site.github.url}}/img/aries.png" width="40"> ARIES DESIGN</a></p>
      </div>
    </div>
  </div>
</footer>
